*{margin:0;padding:0;}
body{font-size:12px;}
ul,li{list-style:none;}
img{border:0;}
a{color:#666; text-decoration:none; margin:0 0px;}

.y_nav{background:#fff; height:154px; overflow:hidden;  padding-top:10px; width:100%; position:relative;}
.y_nav ul{width:838px; margin:0 auto; overflow:hidden;}
.y_nav ul li{width:123px; height:102px; float:left; margin:0 20px;}
.y_nav ul li.nav_1{background:url(../images/nav_1.png) no-repeat #d3e9f8;}
.y_nav ul li.nav_2{background:url(../images/nav_2.png) no-repeat #d3e9f8;}
.y_nav ul li.nav_3{background:url(../images/nav_3.png) no-repeat #d3e9f8;}
.y_nav ul li.nav_4{background:url(../images/nav_4.png) no-repeat #d3e9f8;}
.y_nav ul li.nav_5{background:url(../images/nav_5.png) no-repeat #d3e9f8;}
.y_nav ul li.nav_1 .arrow{bottom:0px; left:150px;}
.y_nav ul li.nav_2 .arrow{bottom:0px; left:375px;}
.y_nav ul li.nav_3 .arrow{bottom:0px; left:600px;}
.y_nav ul li.nav_4 .arrow{bottom:0px; left:825px;}
.y_nav ul li.nav_5 .arrow{bottom:0px; left:1050px;}
.y_nav ul li.selected{background-position:0 -102px; background-color:#2394e2;}
.y_nav .arrow{background:url(../images/y_arrow.png) no-repeat center; width:225px; height:30px; position:absolute;}

.y_list{width:100%; background:#e0e0e0; height:auto; overflow:hidden; padding:30px 0; font-family:'微软雅黑'; color:#666;}
.y_list_cont{width:836px; margin:0 auto;}
.y_list_cont table thead{
	background: #2394e2;
	height: 35px;
	color: #fff;
	font-size: 16px;
	line-height: 35px;
}
.y_list_cont table tbody{background:#fff; text-align:center; font-size:14px;}
.y_list_cont table tbody td{height:36px; border-top:solid 1px #e0e0e0;}
.y_list_cont .btns a{text-decoration:none; margin:0 3px; color:#fff; padding:3px 10px;}
.y_list_cont .btn_sel{background:#70cf78;}
.y_list_cont .btn_del{background:#5eb5f0;}

.y_list_page{text-align:center; font-size:16px; height:36px; line-height:36px; padding:10px 0;}
.y_list_page a{/*color:#666; */text-decoration:none; margin:0 5px;}
.y_list_page a.prev{margin-right:15px;}
.y_list_page a.next{margin-left:15px;}
.y_list_page a:hover{text-decoration:underline;}

.ye_high{color:#f15f22;}
.ye_mid{color:#3399cc;}
.ye_done{color:#006600}

.y_info_tra{width:838px; height:auto; overflow:hidden; margin:0 auto; background:#fff;}
.y_info_tra .tit{background:#2394e2; height:35px; line-height:35px; text-indent:25px; color:#fff; font-size:16px;}
.y_info_tra .cont{width:800px; padding-top:20px; margin:0 auto;}
.y_info_tra .cont td{line-height:24px; font-size:14px; color:#000; padding:10px 0;}
.y_info_tra .cont .cont_text{background:#f2f2f2; border:solid 1px #e0e0e0; color:#666; padding:2px 5px; width:700px; height:30px; line-height:30px;font-size:14px;}
.y_info_btns{height:40px; text-align:center; padding-top:20px;}
.y_info_btns a{text-decoration:none; margin:0 10px; color:#fff; padding:5px 30px; font-size:14px;}
.y_info_btns .submit{background:#70cf78;}
.y_info_btns input.submit{text-decoration:none; border:0px none;margin:0 10px; color:#fff; padding:5px 30px; font-size:14px;}
.y_info_btns .cancel{background:#5eb5f0;}
.y_info_tra .cont .select{width:353px; height:27px; background:url(../images/select_btn.png) no-repeat 328px center #f2f2f2; border:solid 1px #e0e0e0; color:#666; cursor:pointer; text-indent:5px; position:relative;}
.y_info_tra .cont .select ul{width:100%; background:#fff; border:solid 1px #e0e0e0; overflow:hidden; z-index:99; position:absolute; bottom:28px; left:-1px; display:none;}
.y_info_tra .cont .select ul li{border-bottom:solid 1px #f2f2f2;}
.y_info_tra .cont .select ul li a{display:block; width:100%; height:26px; line-height:26px; color:#000; text-decoration:none;}
.y_info_tra .cont .select ul li a:hover{background:#7fc5f4; color:#fff;}

.yuzhongselect{position: relative;  height: auto;  width: auto; }
.yuzhongselect p{cursor:pointer; background:  url(../images/untitled.png) no-repeat ; width:170px; padding-left: 12px; height: 32px;line-height: 32px;}

.yuzhongselect ul.ulselect{display:none; height:100px;  position: absolute; z-index: 99; top: 32px; left:0px; padding: 0px; margin: 0px; list-style: none; }
.u490{width:490px;}
.u170{width:170px;}
.yuzhongselect ul.ulselect li{
	cursor: pointer;
	width: 166px;
	padding-left: 12px;
	height: 27px;
	list-style: none;
	float: left;
	background-color: #FFFFCC;
	border: 1px solid #F0F0F0;
}
.yuzhongselect ul.ulselect li:hover{
	background-color: #E4E4E4;
}
.tda a:hover{background-color: #2394E2;color:#FFFFFF;}
#hutia a{
	color: #F00;
}
.spanOnline1{
	font-weight: bold;
	color: #FFF;
	background-color: #06C;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
